DEBUG=True
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=direct4ag
POSTGRES_TEST_DB=test_direct4ag
POSTGRES_PORT=5432

SERVER_HOST=http://localhost:8000
BACKEND_CORS_ORIGINS=["http://127.0.0.1:8080", "http://localhost:8080", "http://[::1]:8080"]
